{% extends "base.twig" %}

{% block slides %}
	<section>
		<ol>
			<li><a href="1">Лекция</a></li>
			<li><a href="2">Лекция</a></li>
			<li><a href="3">Лекция</a></li>
			<li><a href="4">Лекция</a></li>
		</ol>
	</section>
{% endblock %}
